/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* PAGE STYLE */
*,
*::before,
*::after {
    box-sizing:border-box;
}
a {
    text-decoration: none;
}
body {
	font-family:'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #9b9b9b;
}
.container {
    width: 1370px;
    margin: 0 auto;
    padding: 0 32px;
    width: 100%;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-center {
    justify-content: center;
}
.align-start {
    align-items: flex-start;
}
.wrap {
    flex-wrap: wrap;
}
.relative {
    position: relative;
}
/* HEADER */
.header {
    width: 100%;
    background-color:#161253;
    color: #fff;
    padding: 16px 100px;
}
.header a {
    margin: 0 8px;
    color: #fff;
}
 .header .email {
  margin-right: 200px;
}
/* HERO */
.hero {
    width: 100%;
}
.hero-header {
    margin: 16px 88px;
}
.hero-nav li {
    color:#161253;
    margin-right: 24px;
    font-weight: bolder;
}
h6 {
    font-size: 16px;
    color: #FD666B;
    margin-bottom: 16px;
}
.hero-content {
    width: 20%;
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    right: 160px;
    margin-right: 600px;
    margin-bottom: 48px;
    line-height: 1;
    color: #002D5B;
}
.hero-img {
    width: 100%;
    height:100vh;
    display: block;
    margin-left: 32px;
}
.btn {
    width: 88px;
    height: 64px;
    border-radius: 8px;
    font-size:10px;
    color: #fff;
    font-weight: 700;
    padding: 16px 32px;
    margin-left: 16px;
    background-color: #FD666B;
}
.btn-secondry {
    border: 2px solid #FD666B ;
    color:#FD666B;
    background-color: #fff;
    margin: left 56px;
    padding-left: 24px;
}
/* TEAM */
.box {
    width: 24%;
    height: 418px;
    margin-left:72px;
    padding: 8px;
    border: 2px solid #FD666B;
}
.team-head-1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 24px;
    color: black;
}
.team-hr {
    max-width: 100px;
    text-align: left;
    height: 5px;
    margin-left: 24px;
    background-color:#FD666B ;
}
h3 {
    color: black;
    font-weight: bold;
    margin: 32px 0;
    
}
.team {
    width: 100%;
    background-color: #F5F9FE;
}
.team-head-2 {
    font-size: 32px;
    font-weight: bolder;
    margin: 16px 32px;
    color: black;
}
.team-head-2 p {
    margin-left: 32px;
}
.team-content {
    width: 24%;
    margin: 64px 40px;
    padding-left: 32px;
}
.team-content p {
    margin: 16px 0;
}
.box p {
    margin: 16px;
}
.box a {
    border-top: 10px;
    color: black;
    margin: 32px 16px;
}
.team-img {
    width: 40%;
    height: 406px;
    margin-left: 72px;
    margin-top: 52px;
}
.team-2-box {
    width: 32%;
    height: 380px;
    margin-left:172px;
    margin-top: 164px;
    line-height: 1.2;
    position: absolute;
    left: 366px;
    background-color:rgba(255,255,255,0.5);
}
.team-2-box p {
margin-bottom: 32px;
margin-left: 32px;
}
/* OUR SERVICES */
.service-header {
    font-size: 48px;
    text-align: center;
    color:black;
    margin-top: 32px;
    font-weight: bolder;
}
.service-content h3{
    font-size:20px;
    margin: 32px;
}
.service-btn {
    text-align: center;
    margin-top: 10px 0;
}
.service-content p {
    margin-left: 32px;
    padding-bottom: 32px;
}
/* CASES */
.case-study-content{
    width: 24%;
}
.case-img-container {
    width: 60%;
    overflow:hidden;

}
.case-img-home {
    margin-left: 16px;
    margin: 40px 0;
    width: 40%;
}
.case-btn {
    margin-top: 32px;
}
/* THEMES */
.theme-container {
    text-align: center;
}
.star {
    color: yellow;
    font-weight: bolder;
    margin-left: 8px;
}
/* NEWS */
.news-head {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin: 64px 0;
}
.news-img {
    margin:0 auto
}
/* CALL BACK */
.call-back {
    width: 100%;
    height: 300px;
    margin: 80px 0;
    background-color:#323052 ;
}
.call-back-head {
    width: 40%;
    font-size: 24px;
    margin-left: 56px;
    font-weight: bolder;
    color: #fff;
}
.call-back-content {
    width: 40%;
    margin-left: 56px;
}
.call-back-btn a {
    margin-left: 0px;

}
.box-style {
    flex-direction: column;
    margin-right: 160px;
}
.box-one {
    width: 256px;
    height: 40px;
    color: #fff;
    margin-right:16px;
    margin-bottom: 16px;
    border: 1px solid #fff;
    padding: 6px;
}
.box-one a {
    color: #fff;
}
.box-two {
    width: 256px;
    height: 40px;
    color: #fff;
    padding: 6px;
    margin-bottom: 16px;
    margin-right: 14px;
    margin-left: 16px;
    border: 1px solid #fff;
}
.box-two a {
    color: #fff;
}
.box-three {
width: 402px;
height: 40px;
color: #fff;
padding: 6px;
margin-right: 56px;
border: 1px solid #fff;
}
.box-three a {
    color: #fff;
}
/* FOOTER */
.logo-container {
    width: 20%;
    margin: 24px 64px;
}
.logo-container p {
margin: 16px 0;
}
.footer-nav a {
    color: black;
    margin-left: 8px;
}
.footer-nav {
    color: #161253;
    font-weight: bolder;
}
.footer .small {
    text-align: center;
}
/* ABOUT PAGE */
.about-b-img {
    height: 300px;
    font-size: 64px;
    font-weight: bolder;
    color: #fff;
    margin-top: 32px;
    text-align: center;
    background-position: center;
    background-image: url(../media/hero/about_hero.jpg);
}
/* SERVICES PAGE */
.service-b-img {
    height: 300px;
    font-size: 64px;
    font-weight: bolder;
    color: #fff;
    margin-top: 32px;
    text-align: center;
    background-position: center;
    background-image: url(../media/hero/services_hero.jpg);
}
.clipboard {
    font-size: 56px;
    margin-left: 90px;
    margin-top:32px
}
.ad-book {
    font-size: 56px;
    margin-left: 90px;
    margin-top: 32px;
}
/* CASE STUDY PAGE */
.case-b-img {
    height: 300px;
    font-size: 64px;
    font-weight: bolder;
    color: #fff;
    margin-top: 32px;
    text-align: center;
    background-image: url(../media/hero/cases_hero.jpg);
}
.case-container {
    width: 100%;
    margin-top: 48px;
}
.case-content {
    width: 76%;
    height: 116px;
    position: absolute;
    bottom: -74px;
    right: 40px;
    background-color: #fff;

}
.case-content h2 {
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: bolder;
}
.case-content p {
   margin-left: 40px;

   font-weight: 800;
}
.case-img {
    width: 380px;
    margin-top: 32px;
    position:relative;
}
/* BLOG PAGE */
.blog-b-img {
    width: 100%;
    height: 300px;
    font-size: 64px;
    font-weight: bolder;
    color: #fff;
    margin-top: 32px;
    text-align: center;
    background-position:center;
    background-image: url(../media/hero/blog_hero.jpg);
}
.blog-content-one h2 {
font-size: 24px;
font-weight: 900;
color: black;
margin: 32px 0;
}
.blog-content-one p {
    font-weight: 900;
    margin: 8px 0;
    color: rgb(61, 52, 52);
}
 .blog-container {
    width: 100%;
    margin: 32px 0;
 }
.blog-content {
    width: 50%;
    margin: 32px 0;
}
.blog-btn {
    width: 300px;
    margin-top: 16px;
    margin-right: 56px;
    padding: 16px 116px;
}
.aside-content {
    width: 40%;
    margin-right: 24px;
}
.search-box-one {
    width: 300px;
    height: 54px;
    margin-top: -800px;
    margin-right: 56px;
    margin-bottom: 40px;
    background-color: #fff;
    border: 1px solid rgb(206, 194, 194);
}
.search-a {
    color: rgb(190, 183, 183);
}
hr {
    color: rgb(231, 220, 220);
}
.search-key {
font-size: 14px;
color: #fff;
padding: 19px 20px;
margin-left: 112px;
background-color: #FD666B;
}
.aside-head {
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin-top: 40px;
    margin-right: 56px;
    margin-bottom: -80px;
}
.search-box-two {
width: 264px;
height: 340px;
margin-top: 88px;
margin-right: 56px;
background-color: #F8FAFD;
border: 1px solid rgb(230, 219, 219);
}
.post-head {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
}
.tag-box {
    width: 70px;
    height: 24px;
    border: 1px solid rgb(221, 214, 214);
    margin: 2px;
    text-align: center;
    font-size: 12px;
    margin-right: 56px;
}
.instagram-img {
    margin: 8px;
}
.mail-box {
    width: 320px;
    height: 54px;
    margin: 24px 0;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgb(206, 194, 194);
}
/* CONTACT PAGE */
.contact-b-img {
    height:300px;
    font-size: 64px;
    font-weight: bolder;
    color: #fff;
    margin-top: 32px;
    text-align: center;
    background-position:right;
    background-image: url(../media/hero/contact_hero.jpg);
}
.map iframe {
    margin-left: 124px;
    margin-top: 96px;
}
.contact-header {
    font-size: 32px;
    font-weight: bolder;
    color: black;
    margin: 16px;
}
.contact-contains {
    width: 80%;
}
.contact-box-one {
    width:48%;
    height: 200px;
    margin: 16px;
    border: 1px solid black;
}
.contact-box-two {
    width: 23%;
    height: 32px;
    margin: 14px;
    padding-top: 4px;
    border: 1px solid black;
}
.contact-box-three {
    width: 48%;
    height: 40px;
    margin: 16px;
    padding-top: 6px;
    border: 1px solid black;
}
.contact-btn {
    margin:32px 16px ;
}
.contact-address {
    width: 24%;
}